#cart-popup .button.checkout{
    display: none !important;
}

.widget_shopping_cart_content .button.checkout{
    display: none !important;
}

.widget_shopping_cart_content .button.checkout{
    display: none !important;
}
wc-forward
